extends ../layout

block content
  div.subheader
    h2 Books
    div.actions
      a(href="/books/new", class="button") Add New Book &#43;
      div.search-box 
        form(action="/books", method="get")
          include search
            input(type="submit" value="search" class="search-btn")

  table  
    thead
      tr
       th Title
       th Author
       th Genre  
       th Year
    tbody
      each book in books
        tr
          td
            a(href="/books/" + book.id)= book.title
          td= book.author
          td= book.genre
          td= book.year

  div.footer
    include pagination
    