extends ../layout

block content
  h2=title
  
  include errors

  form(action="/books/new", method="post")
    include form
    div.form-field
      input(type="submit" value="Create new book")
    div.form-field  
      a.button(href="/books") Cancel
    