extends ../layout

block content
  h2=title
  
  include errors

  form(action="/books/" + book.id, method="post")
    include form
    div.form-field
      input.button(type="submit" value="Update")


  form(action="/books/" + book.id + "/delete", method="post")
    div.form-field
      input.button(type="submit", value="Delete") 
    div.form-field
     a.button(href="/") Cancel 
